<%= form_for @reservations do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :time %>
    <%= f.time_field :time %>
  </div>
  <div>
    <%= f.label :party_size %>
    <%= f.text_field :party_size %>
  </div>
<% end %>
