<% @restaurants.each do |r| %>
  <h3><%= r.name %></h3>
  <p><%= link_to 'To Book Your Reservation, Click Here', restaurant_path(r) %></p>
  <p><%= r.description %></p>
  <p><%= r.cuisine %></p>
  <p><%= r.average_price %></p>
  <p><%= r.location %></p>
<br><br>
<% end %>
