<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

<%= yield %>

<% if current_user %>
  <p>Signed in as <%= current_user.name %></p><%= link_to "Log out", session_path("current"), method: :delete %>
<% else %>
  <p>You are not logged in. <%= link_to "Sign up", new_user_path %> or <%= link_to "Log in", new_session_path %></p>
<% end %>
</body>
</html>
